.h3 {
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.span {
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background: transparent;
  width: 80%;
  text-align: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0 10%;
  padding: 16px 0;
  color: white;
}

.socialIcons {
  padding-top: 5px;
  font-size: 25px;
  margin-left: 10px;
  border: 100px;
  width: 100px;
  display: flex;
  justify-content: space-around;
}
