.navHeader {
  width: 80%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: transparent;
  margin: 0 10%;
}

.buttonsContainer {
  display: flex;
  align-items: center;
}

.buttonsContainer > * {
  margin: 0 30px;
}

.logoMostWanted {
  width: 70px;
  height: 20px;
}

.smLogo {
  max-width: 65px;
  background-color: #ea5709;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 10px;
}