.h3 {
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(255, 255, 255);

}
.span {
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: 0;
  height: 90px;
  background: linear-gradient(rgb(237, 132, 5), rgb(255, 204, 0), rgb(250, 150, 1));
  width: 100%;
  text-align: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-top: 10px;
}

.socialIcons{
  padding-top: 5px;
  font-size: 25px;
  margin-left: 10px;
  color: black;
  border: 100px;
}
