.bgImg {
  background-image: url("../../../assets/img/MostWanted_Landing_bck.png");
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75vh;
  margin-top: 8%;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  margin: 0 auto;
}

.contentDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
}

.imgContainer {
  width: 50%;
}

.divider {
  color: white;
  width: 70%;
  margin: 8px;
}
