.mainContainer {
  background-image: url("../../../assets/img/MostWanted_Landing_bck.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content {
  width: 100%;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  margin: 0 auto 50px;
}

.contentDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
}

.contentDescription div span:first-child {
  color: #ea5709;
  margin-left: -16px;
}

.imgContainer {
  width: 35%;
}

.bottomDescription {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  color: white;
  width: 80%;
  margin: 8px;
}

@media (max-width: 390px) {
  .logoContainer {
    width: 80%;
  }

  .contentDescription {
    flex-direction: column-reverse;
  }

  .contentDescription div span:first-child {
    margin-left: 0 !important;
    text-align: center;
  }
}

@media (max-height: 500px) {
  .imgContainer {
    width: 20%;
  }

  .logoContainer {
    width: 40%;
    margin: 0 auto 10px;
  }

  .contentDescription {
    margin: 12px;
  }
}

@media (min-height: 501px) and (max-height: 630px) {
  .imgContainer {
    width: 30%;
  }

  .logoContainer {
    width: 40%;
    margin: 0 auto 12px;
  }

  .contentDescription {
    margin: 16px;
  }
}
