.foodItem {
  border-bottom: 1px solid orange;
  margin-bottom: 4px;
}
.itemContainer {
  display: flex;
  justify-content: space-between;
}
.selectBox {
  display: flex;
  width: 25%;
  align-items: center;
}
.itemName {
  width: 30%;
  min-width: 20%;
}
.foodPrice {
  text-align: right;
  width: 3%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@media (min-width:1200px) {
  
}



.contentList {
  padding: 66px;
}

.content {
  margin-top: 80px;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
}
.buttonContainer {
  margin-top: 8px;
  display: flex;
  justify-content: center;
}
.priceButton {
  cursor: pointer;
  height: 32px;
  padding: 4px;
  margin: 4px;
  border-radius: 8px;
  border-color: rgb(95, 76, 190);
}
.itemContainer i {
  justify-content: center;
  width: 40%;
}




