.mainContent {
  height: calc(100vh);
  background-color: rgb(0, 0, 0);
}

.foodStyle {
  margin-top: 100px;
}

ul li {
  list-style-type: none;
}

ul h2 p {
  color: #ea5709;
  font-weight: 600;
  font-size: medium;
  margin-bottom: 16px;
}